
<style>
.nav-link
{
font-size: 20px;
font-style: italic;
font-weight: 500;

}
#mySidenav a {
  position: absolute;
  left: -20px;
  transition: 0.3s;
  padding: 15px;
  width: 210px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#home{
  top: 150px;
  background-color: #4CAF50;
}

#place {
  top: 220px;
  background-color: #2196F3;
}

#view {
  top: 290px;
  padding: auto;
  background-color: #f44336;
}

#contact {
  top: 360px;
  background-color: #555
}

#content{
  margin-left: 220px;
}
#navbarNav{
  white-space: nowrap;
}
</style>
<div class="logo" >
  <nav class="navbar navbar-light blue lighten-4" style="margin-left: 650px;" >
    <span class="navbar-brand">
      
      
      <h2 >FITNESS APP</h2></span>
  </nav>

</div>
<div class="navbar">
  <nav class="navbar navbar-expand navbar-light flex-column flex-md-row bd-navbar">
    <a class="navbar-brand" href="#"><img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSptyDa8EbsC_Qpb0pxik61pcrmNOsATXEjFw&usqp=CAU" style="height: 50px; margin-left: 35px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" routerLink="landing-page" style="margin-left: 80px;">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="place-fitness-trainer-appointment" >Place Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="view-appointment" >View Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="contact-us">Contact Us</a>
        </li>
        <span class="navbar-text" style="margin-left:800px ;font-weight: 800;">
          Turn Fat into FIT!
        </span>
      </ul>
    </div>
  </nav>

</div>

<div class="sidenav" id="mySidenav">
  <a routerLink="landing-page" id="home">Home <span class="sr-only">(current)</span></a><br>
  <a routerLink="place-fitness-trainer-appointment" id="place">Place Appointment</a><br>
  <a routerLink="view-appointment" id="view">View Appointment</a>
  <a  routerLink="contact-us" id="contact">Contact Us</a>
</div>

<div id="content">
  <router-outlet></router-outlet>
</div>
