<div class="introtext">
    <h1>GYM Edge - Gym & Fitness</h1>
    <h3 style="text-decoration: wavy;">A gymnasium, also known as a gym, is a covered location for athletics. ... 
        They are commonly found in athletic and fitness centers, and as activity and learning spaces in educational institutions. 
        "Gym" is also slang for "fitness center", which is often an area for indoor recreation.</h3>
</div>
<div class="container"> 
    <div class="row"> 
<div class="col-lg-3" >
<div class="card bg-dark text-light" style="width: 18rem;display: flex; margin-top: 50px;">
    <img src={{img1}}>
    <div class="card-body">
      <p class="card-text">Don't stop till you drop!.</p>
    </div>
  </div>
</div>
<div class="col-lg-3 " style="margin-left: 150px;">
  <div class="card bg-dark text-light" style="width: 18rem;  flex-grow:-1; margin-top: 50px;">
    <img src="{{img2}}">
    <div class="card-body">
      <p class="card-text">Turn Fat into FIT!
        .</p>
    </div>
  </div>
</div>
</div>
</div>


<div style="margin-left: 350px ;margin-top: 50px;">
    <button class="btn btn-success" (click)="navpage()">Apply For Trainer</button>
</div>